altair
appdirs
asn1crypto
asttokens
attrs
backcall
backports.functools-lru-cache
backports.zoneinfo
blinker
Bottleneck
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
dataclasses
debugpy
decorator
entrypoints
executing
filelock
flit_core
gitdb
GitPython
greenlet
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mkl-fft
mkl-random
mkl-service
nest-asyncio
numexpr
numpy
oscrypto
packaging
pandas
parso
pickleshare
Pillow
pip
pkgutil_resolve_name
platformdirs
pooch
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pycryptodomex
pydeck
Pygments
PyJWT
Pympler
pyOpenSSL
pyrsistent
PySocks
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
requests
rich
scikit-learn
scipy
setuptools
six
smmap
snowflake-connector-python
snowflake-snowpark-python
SQLAlchemy
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
twint
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
wheel
win-inet-pton
wincertstore
zipp